@font-face {
  font-family: 'MyWeddingFont';
  src: url('./assets/GreatVibes-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Если нужны свои стили, добавляй ниже */
body {
  @apply bg-white text-gray-900;
}
